.c-layout {
  &-sidebar-content {
    position: relative;
    display: flex;
    .article-wrap {
      flex: 1 1 auto;
    }
  }
  &-nav {
    // flex: 1 0 auto;
    max-width: 300px;
    min-width: 200px;
    border-right: 2px solid #eaecef;
  }
}
