:root {
  --bg-color: #fffbe8;
  --text-color: #000;
  /* --text-color: #499504ff; */
  /*change color of meta characetrs like `*` in markdown */
  --md-char-color: #577909;
  /*change color of meta contents like image text or link address in markdown */
  --meta-content-color: #0d1171ff;
  --table-border-color: #ddd6c1;

  /* color of primary buttons */
  --primary-color: #b58900;
  --primary-btn-border-color: #cc9a00;
  --primary-btn-text-color: #fff;

  /*border for sidebar, etc*/
  --window-border: 1px solid #eee8d5;

  /*background color if list item in file tree or file list*/
  --active-file-bg-color: #dfca8844;
  --active-file-text-color: inherit;
  --active-file-border-color: #cc9a00;

  /*change background of sidebar*/
  --side-bar-bg-color: #eee8d5;
  /*background of control items when hover, like menu in sidebar*/
  --item-hover-bg-color: #dfca8844;
  --item-hover-text-color: inherit;
  /*monospace font for codes, fences
  "Monaco", "Consolas", monospace;
  */
  
  --monospace: "PT Serif", 'Times New Roman', Times, serif;
  --rawblock-edit-panel-bd: #eee8d5;
  --search-select-bg-color: #b58900;
  --active-search-item-bg-color: #dfca88;
}

/* 自定义样式 */
#write > p {
  margin-top: 1em;
  font-size: 16px;
}
#write > p > span:only-child > strong {
  font-weight: bolder;
  font-size: 18px;
  color: blue;
}

strong {
  font-weight: bolder;
  font-size: larger;
  color: #000;
}

blockquote {
  font-weight: bold;
}
/* 搜索匹配 */
.md-search-hit {
  background-color: rgb(255, 0, 0, 0.5);
}
.ty-file-search-match-text {
  background-color: rgba(0, 178, 255, 0.5);
}
header, .context-menu, .megamenu-content, footer {
  font-family: var(--monospace);
  color: #1f0909;
}
html,body {
  font-family: var(--monospace);
}
/* 侧边栏 */
div#outline-content {
  padding: 3px 5px;
}
li.outline-item-wrapper > div.outline-item {
  padding-left: 0;
}
.pin-outline li.outline-item-wrapper > ul.outline-children {
  display: block;
  padding-left: 12px;
  border-left: var(--primary-btn-border-color) 1px dashed;
}

/* li.outline-item-wrapper.outline-item-open > ul.outline-children {
  display: block;
} */

div#write {
  padding: 1rem;
  background-color: rgb(245, 232, 209);
}
.ul-list,
.ol-list {
  /* padding-left: 1rem; */
}
pre.md-fences {
  margin: 5px 0 5px 1rem;
  padding: 0;
  font-size: 1rem;
  color: #7a7a7a;
  border: 1px solid #7a7a7a;
}
code,
pre.md-fences {
  color: #7a7a7a;
}

/* 标题编号 */
/** initialize css counter */
#write {
  counter-reset: h1;
}

h1 {
  counter-reset: h2;
  font-size: 22px;
}

h2 {
  counter-reset: h3;
  font-size: 22px;
}

h3 {
  counter-reset: h4;
  font-size: 22px;
}

h4 {
  counter-reset: h5;
  font-size: 22px;
}

h5 {
  counter-reset: h6;
  font-size: 22px;
}

/** put counter result into headings */
#write h1:before {
  counter-increment: h1;
  content: counter(h1) ". ";
}

#write h2:before {
  counter-increment: h2;
  content: counter(h1) "." counter(h2) ". ";
}

#write h3:before,
h3.md-focus.md-heading:before /** override the default style for focused headings */ {
  counter-increment: h3;
  content: counter(h1) "." counter(h2) "." counter(h3) ". ";
}

#write h4:before,
h4.md-focus.md-heading:before {
  counter-increment: h4;
  content: counter(h1) "." counter(h2) "." counter(h3) "." counter(h4) ". ";
}

#write h5:before,
h5.md-focus.md-heading:before {
  counter-increment: h5;
  content: counter(h1) "." counter(h2) "." counter(h3) "." counter(h4) "."
    counter(h5) ". ";
}

#write h6:before,
h6.md-focus.md-heading:before {
  counter-increment: h6;
  content: counter(h1) "." counter(h2) "." counter(h3) "." counter(h4) "."
    counter(h5) "." counter(h6) ". ";
}

/** override the default style for focused headings */
#write > h3.md-focus:before,
#write > h4.md-focus:before,
#write > h5.md-focus:before,
#write > h6.md-focus:before,
h3.md-focus:before,
h4.md-focus:before,
h5.md-focus:before,
h6.md-focus:before {
  color: inherit;
  border: inherit;
  border-radius: inherit;
  position: inherit;
  left: initial;
  float: none;
  top: initial;
  font-size: inherit;
  padding-left: inherit;
  padding-right: inherit;
  vertical-align: inherit;
  font-weight: inherit;
  line-height: inherit;
}

/**************************************
 * Header Counters in TOC
 **************************************/

/* No link underlines in TOC */
.md-toc-inner {
  text-decoration: none;
}

.md-toc-content {
  counter-reset: h1toc;
}

.md-toc-h1 {
  margin-left: 0;
  font-size: 1.5rem;
  counter-reset: h2toc;
}

.md-toc-h2 {
  font-size: 1.1rem;
  margin-left: 2rem;
  counter-reset: h3toc;
}

.md-toc-h3 {
  margin-left: 3rem;
  font-size: 0.9rem;
  counter-reset: h4toc;
}

.md-toc-h4 {
  margin-left: 4rem;
  font-size: 0.85rem;
  counter-reset: h5toc;
}

.md-toc-h5 {
  margin-left: 5rem;
  font-size: 0.8rem;
  counter-reset: h6toc;
}

.md-toc-h6 {
  margin-left: 6rem;
  font-size: 0.75rem;
}

.md-toc-h1:before {
  color: black;
  counter-increment: h1toc;
  content: counter(h1toc) ". ";
}

.md-toc-h1 .md-toc-inner {
  margin-left: 0;
}

.md-toc-h2:before {
  color: black;
  counter-increment: h2toc;
  content: counter(h1toc) ". " counter(h2toc) ". ";
}

.md-toc-h2 .md-toc-inner {
  margin-left: 0;
}

.md-toc-h3:before {
  color: black;
  counter-increment: h3toc;
  content: counter(h1toc) ". " counter(h2toc) ". " counter(h3toc) ". ";
}

.md-toc-h3 .md-toc-inner {
  margin-left: 0;
}

.md-toc-h4:before {
  color: black;
  counter-increment: h4toc;
  content: counter(h1toc) ". " counter(h2toc) ". " counter(h3toc) ". "
    counter(h4toc) ". ";
}

.md-toc-h4 .md-toc-inner {
  margin-left: 0;
}

.md-toc-h5:before {
  color: black;
  counter-increment: h5toc;
  content: counter(h1toc) ". " counter(h2toc) ". " counter(h3toc) ". "
    counter(h4toc) ". " counter(h5toc) ". ";
}

.md-toc-h5 .md-toc-inner {
  margin-left: 0;
}

.md-toc-h6:before {
  color: black;
  counter-increment: h6toc;
  content: counter(h1toc) ". " counter(h2toc) ". " counter(h3toc) ". "
    counter(h4toc) ". " counter(h5toc) ". " counter(h6toc) ". ";
}

.md-toc-h6 .md-toc-inner {
  margin-left: 0;
}

/**************************************
 * Header Counters in Content
 **************************************/

/** initialize css counter */
#write {
  counter-reset: h1;
}

h1 {
  counter-reset: h2;
}

h2 {
  counter-reset: h3;
}

h3 {
  counter-reset: h4;
}

h4 {
  counter-reset: h5;
}

h5 {
  counter-reset: h6;
}

/** put counter result into headings */
#write h1:before {
  counter-increment: h1;
  content: counter(h1) ". ";
}

#write h2:before {
  counter-increment: h2;
  content: counter(h1) "." counter(h2) ". ";
}

#write h3:before,
h3.md-focus.md-heading:before {
  /*override the default style for focused headings */
  counter-increment: h3;
  content: counter(h1) "." counter(h2) "." counter(h3) ". ";
}

#write h4:before,
h4.md-focus.md-heading:before {
  counter-increment: h4;
  content: counter(h1) "." counter(h2) "." counter(h3) "." counter(h4) ". ";
}

#write h5:before,
h5.md-focus.md-heading:before {
  counter-increment: h5;
  content: counter(h1) "." counter(h2) "." counter(h3) "." counter(h4) "."
    counter(h5) ". ";
}

#write h6:before,
h6.md-focus.md-heading:before {
  counter-increment: h6;
  content: counter(h1) "." counter(h2) "." counter(h3) "." counter(h4) "."
    counter(h5) "." counter(h6) ". ";
}

/** override the default style for focused headings */
#write > h3.md-focus:before,
#write > h4.md-focus:before,
#write > h5.md-focus:before,
#write > h6.md-focus:before,
h3.md-focus:before,
h4.md-focus:before,
h5.md-focus:before,
h6.md-focus:before {
  color: inherit;
  border: inherit;
  border-radius: inherit;
  position: inherit;
  left: initial;
  float: none;
  top: initial;
  font-size: inherit;
  padding-left: inherit;
  padding-right: inherit;
  vertical-align: inherit;
  font-weight: inherit;
  line-height: inherit;
}

.sidebar-content {
  counter-reset: h1;
}

.outline-h1 {
  counter-reset: h2;
}

.outline-h2 {
  counter-reset: h3;
}

.outline-h3 {
  counter-reset: h4;
}

.outline-h4 {
  counter-reset: h5;
}

.outline-h5 {
  counter-reset: h6;
}

.outline-h1 > .outline-item > .outline-label:before {
  counter-increment: h1;
  content: counter(h1) ". ";
}

.outline-h2 > .outline-item > .outline-label:before {
  counter-increment: h2;
  content: counter(h1) "." counter(h2) ". ";
}

.outline-h3 > .outline-item > .outline-label:before {
  counter-increment: h3;
  content: counter(h1) "." counter(h2) "." counter(h3) ". ";
}

.outline-h4 > .outline-item > .outline-label:before {
  counter-increment: h4;
  content: counter(h1) "." counter(h2) "." counter(h3) "." counter(h4) ". ";
}

.outline-h5 > .outline-item > .outline-label:before {
  counter-increment: h5;
  content: counter(h1) "." counter(h2) "." counter(h3) "." counter(h4) "."
    counter(h5) ". ";
}

.outline-h6 > .outline-item > .outline-label:before {
  counter-increment: h6;
  content: counter(h1) "." counter(h2) "." counter(h3) "." counter(h4) "."
    counter(h5) "." counter(h6) ". ";
}
/* 编号结束 */
/* 自定义样式End */

p {
  margin: 0.5rem 0;
}

code,
.md-fences,
tt {
  font-size: 1rem;
  border: 1px solid #ddd6c1;
  border-radius: 0.25rem;
  padding: 0 0.125rem;
  background: transparent;
}

blockquote {
  background-color: var(--side-bar-bg-color);
  position: relative;
  margin: 1rem 0rem 1.25rem 0rem;
  padding-left: 0.75rem;
  font-family: var(--monospace);
}

blockquote::before {
  content: "";
  position: absolute;
  left: 0rem;
  height: 100%;
  width: 0.25rem;
  background: var(--primary-color);
}

table {
  border: 1px solid #ddd6c1;
  margin: 1rem 0;
}

thead {
  background: #e8dfc4;
}

table tr:nth-child(2n) {
  background: #eee8d5;
}

td,
th {
  padding: 0.35rem 0.7rem;
  border: 1px solid #ddd6c1;
}

hr {
  /* border-color: var(--table-border-color); */
  border-color: blue;
}

mark {
  padding: 2px 1px;
  color: darkred;
}

#write {
  position: static;
  padding-left: 10ch;
  padding-right: 10ch;
  line-height: 1.6;
  transform: none;
}

/* YAML block on the top */
#write .md-meta-block {
  background-color: #eee8d5b0;
  border-bottom: 2px solid #ddd6c1;
  padding: 0.5rem 0.75rem 0.5rem 0.75rem;
}

#write .md-task-list-item > input {
  -webkit-appearance: initial;
  display: block;
  position: absolute;
  border: 1px solid #ddd6c1;
  border-radius: 0.25rem;
  margin-top: 0.1rem;
  margin-left: -1.8rem;
  height: 1.2rem;
  width: 1.2rem;
  transition: background 0.3s;
}

#write .md-task-list-item > input:hover {
  background: #d47405;
}

#write .md-task-list-item > input[checked]::before {
  content: "";
  position: absolute;
  top: 20%;
  left: 50%;
  height: 60%;
  width: 2px;
  transform: rotate(40deg);
  background: var(--primary-color);
}

#write .md-task-list-item > input[checked]::after {
  content: "";
  position: absolute;
  top: 46%;
  left: 25%;
  height: 30%;
  width: 2px;
  transform: rotate(-40deg);
  background: var(--primary-color);
}

#write .md-task-list-item > p {
  transition: color 0.3s;
}

#write .md-task-list-item.task-list-done > p {
  color: var(--primary-color);
  text-decoration: line-through;
}

.on-focus-mode .md-end-block:not(.md-focus):not(.md-focus-container),
.on-focus-mode .md-end-block:not(.md-focus):not(.md-focus-container) *,
.on-focus-mode .md-end-block:not(.md-focus):not(.md-focus-container) ol,
.on-focus-mode .md-end-block:not(.md-focus):not(.md-focus-container) ul {
  color: #499504ff !important;
}

#write .md-toc-item {
  color: var(--primary-btn-border-color);
}

#write .md-toc-h1 {
  font-size: 1.3rem;
}

#write .md-toc-h2 {
  font-size: 1.2rem;
}

/*
#write h1::before,
#write h2::before,
#write h3::before,
#write h4::before,
#write h5::before,
#write h6::before {
  position: absolute;
  right: calc(100% + 10px);
  bottom: 0;
  color: #ddd6c1;
  font-size: 1rem;
  font-weight: bold;
  font-variant: "small-caps";
  border: 0;
  border-radius: 0;
  left: auto;
  float: none;
  padding: 0;
  vertical-align: baseline;
  line-height: 20px;
}
*/

/* diagrams like mermaid, sequence, gantt, flow etc */
#write .md-focus .md-diagram-panel {
  border-color: var(--table-border-color);
}

/* hover tooltip for formula etc */
.code-tooltip.md-hover-tip {
  color: var(--text-color);
  background-color: #e8dfc4ff;
}

.md-hover-tip .md-arrow:after {
  background: #e8dfc4ff;
}

/* for ``` code block */
.md-fences.md-focus .cm-s-inner .CodeMirror-activeline-background {
  background: #e8dfc470;
}

.cm-s-inner .cm-number {
  color: #9b3aff;
}

.cm-s-inner .cm-keyword {
  color: #577909;
  font-weight: bold;
}

.cm-s-inner .cm-def {
  color: #499504;
}

.cm-s-inner .cm-variable {
  color: #499504;
}

.cm-s-inner .cm-variable-2 {
  color: #05a;
}

.cm-s-inner .cm-variable-3 {
  color: #085;
}

.cm-s-inner .cm-property {
  color: #934b3cff;
}

.cm-s-inner .cm-operator {
  color: #577909;
  font-weight: bold;
}

.cm-s-inner .cm-comment,
.cm-s-inner.cm-comment {
  color: #95a3abff;
}

.cm-s-inner .cm-string {
  color: #2aa198;
}

.cm-s-inner .cm-string-2 {
  color: #f50;
}

.cm-s-inner .cm-meta {
  color: #577909;
  font-weight: bold;
}

.cm-s-inner .cm-builtin {
  color: #9b3affff;
}

.cm-s-inner .cm-tag {
  color: #2369b6ff;
}

.cm-s-inner .cm-attribute {
  color: #cb2d01ff;
}

.cm-s-inner .cm-quote,
.cm-s-inner.cm-quote {
  color: #0b6125ff;
  background-color: #bbbbbb30;
}

/* for win10 unibody, which lacks the sense of beauty, but tested */
#megamenu-menu-sidebar {
  color: #586e75;
  background-color: var(--side-bar-bg-color);
}

#megamenu-menu-sidebar .megamenu-menu-header {
  background-color: var(--primary-color);
}

#megamenu-back-btn {
  color: var(--primary-btn-text-color);
}

#megamenu-menu-header-title {
  color: var(--primary-color);
}

#megamenu-menu-list .li :hover {
  background-color: var(--item-hover-bg-color) !important;
}

#megamenu-menu-list .li > .active {
  color: var(--primary-color);
}

#megamenu-content {
  background-color: var(--bg-color);
}

/* source mode, for WIDE screen */
#typora-source .CodeMirror-lines {
  max-width: 128rem;
}
